.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    .container {
        border: 1px solid #ece5dd;
        border-radius: 10px !important;
        width: 65%;
        height: 80%;
        display: flex;
        --bs-gutter-x: 0;
        overflow: hidden;

        .sidebar {
            flex: 1;
            background-color: #f8f9fa; /* Light gray background */
            color: #4a4a4a; /* Dark gray text color */

            .chatnavbar {
                display: flex;
                align-items: center;
                background-color: #128c7e; /* WhatsApp Green */
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: white;

                .logo {
                    font-weight: bold;
                }

                .user {
                    display: flex;
                    gap: 10px;
                }

                img {
                    background-color: #ffffff; /* White background for user avatar */
                    height: 24px;
                    width: 24px;
                    border-radius: 50px;
                    object-fit: cover;
                }
            }

            .search {
                border-bottom: 1px solid #ece5dd; /* Light gray border */

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: #f8f9fa; /* Light gray background */
                        border: none;
                        color: #4a4a4a; /* Dark gray text color */
                        outline: none;

                        &::placeholder {
                            color: #868e96; /* Gray placeholder text color */
                        }
                    }
                }
            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #4a4a4a; /* Dark gray text color */
                cursor: pointer;

                &:hover {
                    background-color: #f8f9fa; /* Light gray background on hover */
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        color: #868e96; /* Gray text color */
                    }
                }
            }
        }

        .chat {
            flex: 2;

            .chatInfo {
                height: 50px;
                background-color: #075e54; /* WhatsApp Green */
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: white;
            }

            .messages {
                background-color: #e6f5f3; /* Light gray background */
                padding: 10px;
                height: calc(100% - 105px);
                overflow-y: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: #868e96; /* Gray text color */
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50px;
                            object-fit: cover;
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: #ffffff; /* White background */
                            padding: 10px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: #128c7e; /* WhatsApp Green */
                                color: white;
                                padding: 10px;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }

            .input {
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #4a4a4a; /* Dark gray text color */
                    font-size: 18px;

                    &::placeholder {
                        color: #868e96; /* Gray placeholder text color */
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        border: none;
                        padding: 10px 15px;
                        color: white;
                        background-color: #128c7e; /* WhatsApp Green */
                        border-radius: 5px;
                        width: 60px;
                        height: 35px;
                    }
                }

                svg {
                    width: 30px;
                    height: 30px;
                    color: #b1acac; /* Light gray text color */
                    cursor: pointer;
                }
            }
        }
    }
}
